<main>
<% if flash[:notice] %>
<div class="success">
  <p id="notice">
    <%= flash[:notice] %>
  </p>
</div>
<% end %>

<h1>Books</h1>

<Table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td>
      <p><%= book.title %></p>
    </td>
    <td>
      <p><%= book.body %></p>
    </td>
    <td>
      <%= link_to "Show", book_path(book.id) %>
      <%= link_to "Edit", edit_book_path(book.id) %>
      <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm"=>"Are you sure?" %>
    </td>
  </tr>
  <% end %>
</table>

<h2>New book</h2>
<% if @book.errors.any? %>
  <div class="error">
  <%= @book.errors.count %> errors prohibited this book from begin saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <p>Title</p>
  <div class="box"><%= f.text_field :title %></div>

  <p>Body</p>
  <div class="box"><%= f.text_area :body %></div>

  <p><%= f.submit 'Create Book' %></p>
<% end %>
</main>